@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --black-color: #000;
    --white-color: #fff;
    --blue-color: #3fd0d4;
    --dark-blue: #2d9194;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5% ;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #00000027;
    font-size: 1.4rem;

}


