.header {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    height: 80px;
    padding: 0 20px;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    align-items: center;
    z-index: 99;
}

.header-logo__img {
    width: 150.449px;
    object-fit: contain;
}

.navbar {
    display: flex;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.navbar-right {
    display: flex;
    z-index: 99;
}

.shopping-cart:hover .empty-cart {
    display: block;
}

.shopping-cart {
    position: relative;
}

.empty-cart {
    position: absolute;
    top: 80px;
    background-color: var(--white-color);
    right: 0;
    width: 280px;
    display: none;
    animation: fade-in 0.5s ease;
}

.empty-cart__text {
    color: #838383;
    margin: 0 20px;
}

.navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}


.navbar-link{
    color: #212121;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-link--active {
    color: var(--blue-color);
}

.navbar-item {
    line-height: 80px;
}

.navbar-item:hover .navbar-link {
    color: var(--blue-color);
}

.navbar-item:hover .navbar-second-selection {
    display: block;
}

.navbar-list-center {
    position: relative;
    flex: 1;
    justify-content: center;
    z-index: 98;
}

.navbar-list-center .navbar-link {
    padding: 0 37px;
    cursor: default;
}

.navbar-second-selection {
    display: none;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 5%);
    min-width: 257px;
    position: absolute;
    top: 80px;
    background-color: var(--white-color);
    animation: fade-in 0.5s ease;
}

.navbar-second-selection::before {
    content: "";
    position: absolute;
    width: 257px;
    height: 16px;
    top: -10px;
    display: block;
}

.navbar-item:hover .navbar-second-have-multi-column {
    display: block;
}

.navbar-second-have-multi-column {
    display: none;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 5%);
    min-width: 257px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    animation: fade-in 0.5s ease;
}

.navbar-second-have-multi-column::before {
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    top: -8px;
    right: 0;
}

.navbar-second-have-multi-column-list {
    padding: 46px 0 44px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar-second-heading-text {
    line-height: 25px;
    font-size: 1.5rem;
    color: var(--blue-color);
}

.navbar-third-have-multi-column-list {
    padding: 0;
    list-style: none;
}

.navbar-third-have-multi-column-item:hover .navbar-third-have-multi-column-link {
    color: var(--blue-color);
}

.navbar-third-have-multi-column-item {
    line-height: 40px;
}

.navbar-third-have-multi-column-link {
    color: var(--black-color);
    text-decoration: none;
}

.navbar-second-list {
    list-style: none;
    padding: 28px 0 30px;
}

.navbar-second-item:hover .navbar-second-item-link {
    color: var(--blue-color);
}

.navbar-second-item {
    position: relative;
    line-height: 25px;
}

.navbar-second-item-have-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-second-item-have-icon:hover .navbar-third-selection {
    display: block;
}

.navbar-second-item-icon {
    padding-right: 25px;
}

.navbar-second-item-link {
    text-decoration: none;
    color: var(--black-color);
    padding: 5px 25px 6px 32px;
    font-size: 1.4rem;
    line-height: 24px;
    display: inline-block;
    font-weight: 500;
}

.navbar-second-item-link--active {
    color: var(--blue-color);
}

.navbar-third-selection {
    position: absolute;
    width: 257px;
    background-color: var(--white-color);
    z-index: 99;
    top: 0;
    right: -257px;
    padding: 28px 0 30px 0;
    box-shadow: 0 3px 13px 0 rgb(0 0 0 / 5%);
    display: none;
    animation: fade-in 0.5s ease;
}

.navbar-third-list {
    list-style: none;
    padding: 0;
}

.navbar-third-item:hover .navbar-third-item-link {
    color: var(--blue-color);
}

.navbar-third-item {
    padding: 4px 25px 6px 32px;
    line-height: 2.5rem;
}

.navbar-third-item-link {
    text-decoration: none;
    color: var(--black-color);
}

.navbar-list-right .navbar-link {
    padding: 0 10px;
}

/* modal search */
.modal-search {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #3fd0d494;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    display: none;
    animation: fade-in 0.5s ease;
}

.js-modal-search {
    display: flex;
}

.modal-search__body {
    display: flex;
}

.modal-search__input {
    width: 600px;
    height: 80px;
    border: none;
    padding: 0 35px;
}

.modal-search__input:focus {
    outline: none;
}

.modal-search__submit {
    height: 80px;
    border-style: none;
    padding: 0 72px;
    background-color: #00f7ff94;
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
}

.modal-search__submit:hover {
    background-color: var(--dark-blue);
}

/* modal menu */
.modal-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    height: 100%;
}

.modal-menu__body {
    position: relative;
    background-color: var(--white-color);
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 10%);
    padding: 100px 50px 40px 50px;
    animation: appear-gradually-to-right 0.2s ease-out;
}

.js-modal-menu {
    display: block;
}

.modal-menu-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

.modal-menu-close__icon {
    font-size: 3rem;
    padding: 20px;
}

.modal-menu-close__icon:hover {
    cursor: pointer;
    color: #3fd0d4;
}

.modal-menu-image-1, 
.modal-menu-image-2 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.modal-menu-image-1__img {
    width: 203px;
}

.modal-menu-image-3 {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.modal-menu-text-1 {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin: 10px 0;
    color: var(--gray-color);
}

.modal-menu-search {
    margin: 50px 0 70px 0;
}

.modal-menu-search__heading {
    margin: 0 0 40px 0;
    text-align: center;
}

.modal-menu-search__form {
    display: flex;
    justify-content: center;
}

.modal-menu-search__input:focus {
    outline: none;
}

.modal-menu-search__input {
    padding: 9px 0 11px 21px;
    border-style: none;
    background-color: #f8f8f8;
}

.modal-menu-search__submit {
    border-style: none;
    background-color: #3fd0d4;
    color: var(--white-color);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.modal-menu-search__submit:hover {
    background-color: var(--dark-blue);
}

.modal-menu-folow__heading {
    text-align: center;
    margin: 0 0 20px 0;
}

.modal-menu-folow__body {
    display: flex;
    justify-content: center;
}

.modal-menu-folow__link {
    background-color: var(--blue-color);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 10px;
}

.modal-menu-folow__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.4rem;
}

/* carousel-slide */
.carousel-slide {
    position: relative;
}

.carousel-slide__img {
    object-fit: cover;
    height: 550px;
    width: 100%;
}

.carousel-slide-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: carousel-slide 2s ease;
    display: none;
}

.carousel-slide-text--appear {
    display: flex;
}

.carousel-slide-text__h5,
.carousel-slide-text__h1,
.carousel-slide-text__p {
    color: var(--white-color);
    margin: 0;
    text-align: center;
    display: block;
}

.carousel-slide-text__h5 {
    font-family: 'Satisfy', cursive;
    font-size: 4.8rem;
    line-height: 4.8rem;
}

.carousel-slide-text__h1 {
    font-size: 12rem;
    line-height: 12rem;
    margin: 30px 0;
}

.carousel-slide-text__p {
    font-size: 2rem;
    line-height: 2.4rem;
}

.carousel-slide__btn {
    position: absolute;
    top: 0;
    z-index: 97;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.prev-btn,
.next-btn {
    background-color: var(--white-color);
    color: var(--blue-color);
    border-style: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.prev-btn:hover ,
.next-btn:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
}

.prev-btn__icon,
.next-btn__icon {
    color: inherit;
    font-size: 2.4rem;
}

/* Owl-Carousel */
.Owl-Carousel {
    display: flex;
    margin-left: 20px;
    margin-bottom: 100px;
}

.Owl-Carousel-item {
    width: 16.66%;
    margin: 20px 20px 0 0;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 50%);
}

.Owl-Carousel-container-img__link {
    display: block;
}

.Owl-Carousel-container-img__img {
    display: block;
    width: 100%;
}

.Owl-Carousel-container-content {
    background-color: var(--white-color);
}

.Owl-Carousel-container-top-content {
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-around;
}

.Owl-Carousel-container-top-content__item {
    padding: 8px 10px 8px 26px;   
}

.Owl-Carousel-container-top-content__icon,
.Owl-Carousel-container-top-content__span,
.Owl-Carousel-container-top-content__link {
    color: var(--white-color);
}

.Owl-Carousel-container-top-content__link {
    text-decoration: none;
}

.Owl-Carousel-container-inner-content {
    padding: 31px 25px 33px 25px;
}

.Owl-Carousel-container-inner-content__heading {
    margin: 0 0 10px 0;
    line-height: 2rem;
}

.Owl-Carousel-container-inner-content__text {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 0 20px 0;
    color: var(--gray-color);
}

.Owl-Carousel-container-inner-content-icon-container {
    display: flex;
    justify-content: space-between;
}
/* video container */
.video-content {
    text-align: center;
    width: 1050px;
    margin: auto;
}

.video-content-youtube__link {
    display: inline-block;
    position: relative;
}

.video-content-youtube-button {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}

.video-content-youtube__link:hover .video-content-youtube-button__img{
    transform: scale(110%);
}

.video-content__text {
    margin: 35px auto 35px auto;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: var(--gray-color);
    width: 1000px;
}

.video-content__link {
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 18px 66px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

/* review-container */
#review-container {
    background-image: url("../img/winter-img-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.review-carousel {
    display: flex;
}

.review-carousel__element {
    background-color: var(--white-color);
    display: flex;
    padding: 45px 30px;
    width: 33%;
    border-radius: 5px;
}

.review-carousel__element:nth-child(2) {
    margin: 0 40px;
}

.review-img-container {
    padding-right: 20px;
}

.review__link {
    color: var(--black-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    display: inline-block;
}

.review__link:hover {
    color: var(--blue-color);
}

.review-star {
    color: var(--blue-color);
}

.review-text {
    color: var(--gray-color);
    font-size: 1.8rem;
    line-height: 2.4rem;
}

/* icon-container */
.icons-container {
    display: flex;
}

.icon-container {
    text-align: center;
    padding: 0 45px;
}

.icon-container__text {
    line-height: 2rem;
    color: var(--gray-color);
}

.Owl-Carousel-2 {
    display: flex;
    overflow: hidden;
}

.Owl-Carousel-2-img-container {
    width: 25%;
    position: relative;
}

.Owl-Carousel-2-img {
    width: 100%;
    display: block;
}

.Owl-Carousel-2-content {
    background-color: var(--blue-color);
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
    animation: fade-in 0.7s ease;
}

.Owl-Carousel-2-img-container:hover .Owl-Carousel-2-content {
    display: block;
    animation: appear-gradually-upwards 0.7s ease;
}

.Owl-Carousel-2-title,
.Owl-Carousel-2-text,
.Owl-Carousel-2-icon-container {
    margin: 0;
    padding: 20px 50px 0 50px;
    color: var(--white-color);
    text-align: center;
}

.Owl-Carousel-2-icon-container {
    padding-bottom: 20px;
}

.Owl-Carousel-2-icon__link {
    color: var(--white-color);
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
}

.Owl-Carousel-2-icon {
    margin-right: 20px;
}

.time-containter {
    background-color: #3abdc1;
    color: var(--white-color);
    display: flex;
    padding: 75px 0;
    justify-content: space-around;
}

.time-item {
    padding: 0 20px;
    display: inline-block;
    text-align: center;
}

.time-number {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0;
}

.time-text {
    margin: 20px 0 0 0;
    font-size: 2rem;
}

/* resort-container */
.resort-img-container {
    padding: 0 25px;
    display: inline-block;
    width: 33%;
    position: relative;
}

.resort-icon-container {
    position: absolute;
    top: 30px;
    right: 57px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--white-color);
    z-index: 99;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resort-icon {
    font-size: 2rem;
}

.resort-img-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.resort-img {
    width: 100%;
    border-radius: 50%;
    z-index: 90;
    position: relative;
}

.resort-img-background {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(0 0 0 / 25%);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 97;
    border-radius: 50%;
}

.resort-text {
    position: absolute;
    top: 50%;
    z-index: 99;
    text-align: center;
    color: var(--white-color);
    width: 100%;
    font-family: Satisfy,cursive;
    font-size: 4.8rem;
    margin: 0;
    transform: translateY(-50%);
    text-shadow: 2px 2px rgb(5 5 5 / 50%);
}

/* footer */
.footer {
    padding: 200px 100px 180px 100px;
    background-color: #212121;
    display: flex;
}

.footer-logo__img {
    display: block;
    max-width: 263px;
    width: 100%;
}

.footer-text-17 {
    color: #a9a9a9;
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.footer-info {
    color: var(--white-color);
    padding-bottom: 15px;
}

.footer-info__text {
    padding-left: 10px;
}

.footer-text-container {
    margin-top: 30px;
}

.footer-heading {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.footer-heading,
.footer-time {
    color: var(--white-color);
    margin: 0;
}

.footer-text {
    color: #a9a9a9;
    line-height: 2rem;
}

.footer-form {
    margin-top: 30px;
}

.footer-input-container {
    background-color: #595959;
    width: 100%;
    color: var(--white-color);
    display: flex;
    padding: 12px 16px;
    align-items: center;
    margin-bottom: 6px;
}

.footer-input__icon {
    width: 30px;
}

.footer-input {
    width: 100%;
    background-color: inherit;
    line-height: 3rem;
    border: none;
    color: var(--white-color);
}

.footer-input:focus {
    outline: none;
}

.footer-input::placeholder {
    color: var(--white-color);
}

.footer-submit {
    width: 100%;
    padding: 14px 42px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;

}

.footer-submit:hover {
    animation: fade-in 0.4s ease-out;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--black-color);
}

.footer-img {
    width: 19%;
}